<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/register.css">

    <title>Add User</title>


</head>

<body>


    <div class="main">

        <form action="" method="POST" class="form" id="form-1">

            <h3 class="heading">Add User</h3>
            <p class="check-error">
                <%- typeof err=='undefined' ?"":err %>
            </p>
            <div class="spacer"></div>

            <div class="form-group">
                <label for="fullname" class="form-label">Fullname</label>
                <input id="fullname" value="<%= typeof useredit !="undefined"?useredit[0].fullname:"" %>" name="fullname"
                type="text" placeholder="VD: Nam Phuong" class="form-control">
                <span class="form-message"></span>
            </div>

            <% if(typeof useredit=="undefined" ){ %>
                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" name="email" type="text" placeholder="VD: namphuong@gmail.com"
                        class="form-control">
                    <span class="form-message"></span>
                </div>
                <% }else{%>
                    <input type="hidden" name='id' value="<%= typeof useredit !="undefined"?useredit[0].id:"" %>">
                    <input type="hidden" value="1" name="update">
                    <%} %>

                        <div class="form-group">
                            <label for="password" class="form-label">Password</label>
                            <input id="password" name="password" value="<%= typeof useredit !="undefined"?useredit[0].password:"" %>" type="password" placeholder="Enter password"
                                class="form-control">
                            <span class="form-message"></span>
                        </div>

                        <div class="form-group">
                            <label for="phone" class="form-label">Phone</label>
                            <input id="phone" name="phone" value="<%= typeof useredit !="undefined"?useredit[0].phone:"" %>"
                            placeholder="Enter the phone" type="text" class="form-control">
                            <span class="form-message"></span>
                        </div>

                        <!-- <div class="form-group">
                <label for="avatar" class="form-label">Ảnh đại diện</label>
                <input id="avatar" name="avatar" type="file"
                    class="form-control">
                <span class="form-message"></span>
            </div> -->


                        <div class="form-group">
                            <label for="address" class="form-label">Address</label>
                            <select id="address" name="address" class="form-control" value="<%= typeof useredit !="undefined"?useredit[0].address:"" %>"> 
                                <option value="">-- Choose Address</option>
                                <option value="hni" >Hà Nội</option>
                                <option value="hpg">Hải Phòng</option>
                            </select>
                            <span class="form-message"></span>
                            <label for="address" class="form-label">Role</label>
                            <select id="address" name="role" class="form-control">
                                <option value="">-- Choose Role</option>
                                <% if(typeof role !='undefined' ) { if(quantity==0){%>
                                    <%= role%>
                                        <%}else{ role.map((ro,i)=>{%>
                                            <option value="<%= ro.id%>" <%= typeof useredit !="undefined" ?useredit[0].roleid==ro.id?"selected":"":"" %>>
                                                <%= ro.name%>
                                            </option>
                                            <%})}}%>
                            </select>
                            <span class="form-message"></span>
                        </div>


                        <!-- <div class="form-group">
                <label for="password_confirmation" class="form-label">Giới tính</label>
                <div>
                    <input name="gender" type="checkbox" value="male" class="form-control">
                    Nam
                </div>
                <div>
                    <input name="gender" type="checkbox" value="female" class="form-control">
                    Nữ
                </div>
                <div>
                    <input name="gender" type="checkbox" value="other" class="form-control">
                    Khác
                </div>
                <span class="form-message"></span>
            </div> -->

                        <button class="form-submit " type="submit">Add new User</button>
        </form>

        <!-- <form action="" method="POST" class="form" id="form-2">
            <h3 class="heading">Đăng nhập</h3>
            <p class="desc">Cùng nhau học lập trình miễn phí tại F8 </p>
        
            <div class="spacer"></div>
        
            
        
            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input id="email" name="email" type="text" placeholder="VD: email@domain.com" class="form-control">
                <span class="form-message"></span>
            </div>
        
            <div class="form-group">
                <label for="password" class="form-label">Mật khẩu</label>
                <input id="password" name="password" type="password" placeholder="Nhập mật khẩu" class="form-control">
                <span class="form-message"></span>
            </div>
        
            <button class="form-submit ">Đăng nhập</button>
        </form> -->

    </div>

    <script src="/public/js/script.js"></script>

    <script>

        // Mong muốn của chúng ta khi sử dụng thư viện này trong tương lai
        // Form đăng ký

        Validator({
            form: '#form-1',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired('#fullname', 'Vui lòng nhập tên đầy đủ của bạn'), // Bản chất là đang chạy 1 hàm
                Validator.isEmail('#email'),
                // Validator.isRequired('#avatar'),
                Validator.minLength('#password', 6),
                Validator.isRequired('#password_confirmation'),
                // Validator.isRequired('input[name="gender"]'),
                // Validator.isRequired('#province'),
                Validator.isConfirmed('#password_confirmation', function () {
                    return document.querySelector('#form-1 #password').value;
                }, 'Mật khẩu nhập lại không chính xác'),
            ],
            onSubmit: function (data) {


                // Call API
                console.log(data); /* In thông tin người dùng ra màn hình */
            }
        });


        // Form đăng nhập
        // Validator({
        //         form: '#form-2',
        //         formGroupSelector: '.form-group',
        //         errorSelector: '.form-message',
        //         rules: [
        //             Validator.isEmail('#email'),
        //             Validator.minLength('#password', 6),
        //         ],
        //         onSubmit: function (data) {

        //             // Call API
        //             console.log(data);
        //         }
        //     });
    </script>
</body>

</html>