<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/fonts/fontawesome-free-6.2.1-web/fontawesome-free-6.2.1-web/css/all.min.css">

    <title>Manager Product</title>
</head>

<body>
    <nav class="navbar">
        <!-- Gán thanh điều hướng qua file nav.js -->
        <div class="nav">
            <a href="/"><img src="/public/image/logo.png" class="brand-logo" alt=""></a>

            <div class="nav-items">


                <div class="search">

                    <input type="text" class="search-box" placeholder="search brand, product">
                    <span><i class="fa-solid fa-magnifying-glass"></i></span>

                    <!-- <button class="search-btn">
                        <i class="search-btn-icon fa-solid fa-magnifying-glass"></i>
                    
                    </button> -->

                </div>

                <div class="nav-icons">

                    <a href="user/cartdetail"><i class="fa-solid fa-cart-shopping"></i></a>
                    <% if(typeof user=='undefined' ) { %>
                        <a href="/login">Login</a>
                        <% }else{ %>

                            <%- (user.isAdmin ||user.isManager) ? "<a href='/admin/dashboard'>Dashboard</a>" :"" %>
                                <a href="">
                                    <%= user.username %>
                                </a>
                                <a href="/logout"> Logout</a>
                                <% } %>
                </div>
            </div>
        </div>
        <ul class="links-container">
            <li class="link-item "><a href="/" class="link ">home</a></li>
            <li class="link-item "><a href="/product" class="link  ">product<a></li>
            <li class="link-item"><a href="/blog" class="link">blog</a></li>
            <li class="link-item"><a href="/contact" class="link">contact</a></li>

        </ul>
    </nav>
    <div class="table">
        <!-- <div class="table_header">
            <p>Product Details</p>
            
            <div>
                <input placeholder="product">
                <a href="/addproduct" class="add_new">Add Product</a>
            </div>
        </div>  -->

        <div class="table_body">


            <div class="dashboard-common">
                <a href="dashboard" class="add_new">Back</a>
                <a href="adduser" class="add_new">Add User</a>
            </div>
            <table>
                <thead>
                    <tr>
                        <th> # </th>
                        <th> Fullname </th>
                        <th> Username </th>
                        <th> Role </th>
                        <th> Edit </th>
                        <th> Delete </th>

                    </tr>
                </thead>
                <tbody>
                    <% if(typeof userlist !='undefined' ) { if(quantity==0){%>

                        <%= userlist%>
                            <%}else{ userlist.map((us,i)=>{%>
                                <tr>
                                    <td>
                                        <%= i+1%>
                                    </td>
                                    <td>
                                        <%= us.fullname%>
                                    </td>
                                    <td>
                                        <%= us.username%>
                                    </td>
                                    <td>
                                        <%= us.name%>
                                    </td>

                                    <td>
                                        <!-- <button><i class="fa-solid fa-pen-to-square"></i></button> -->
                                        <button style="padding: 0 !important;"><a href="adduser?id=<%= us.id%>"><i
                                                    class="fa-solid fa-pen-to-square"
                                                    style="padding:16px !important"></i></a></button>


                                    </td>
                                    <td>
                                        <button style="padding: 0 !important;"><a href="deleteuser?id=<%= us.id%>"><i
                                                    class="fa-solid fa-trash-can"
                                                    style="padding:16px !important"></i></a></button>
                                    </td>

                                </tr>

                                <%})}}%>




                </tbody>
            </table>
        </div>
    </div>
    <footer>
        <div class="footer-logo">
            <img src="/public/image/logo.png" class="logo" alt="">
        </div>

        <div class="footer-content">
            <div class="footer-container">
                <ul class="footer-desc">
                    <h3 class="about-us-name">About</h3>
                    <li class="about-us"><i class="fa-solid fa-location-dot"></i>142 Tân Qúy</li>
                    <li class="about-us"><i class="fa-solid fa-phone"></i> +84 376328545</li>
                    <li class="about-us"><i class="fa-solid fa-envelope"></i> vothanhnamphuong20@gmail.com</li>
                </ul>
            </div>
            <div class="footer-container">
                <ul class="footer-desc">
                    <h3 class="about-us-name">have a question?</h3>
                    <li class="about-us"><i class="fa-solid fa-location-dot"></i>142 Tân Qúy</li>
                    <li class="about-us"><i class="fa-solid fa-phone"></i> +84 376328545</li>
                    <li class="about-us"><i class="fa-solid fa-envelope"></i> vothanhnamphuong20@gmail.com</li>
                </ul>
            </div>
            <div class="footer-container">
                <ul class="footer-desc">
                    <li class="about-us-name">information</li>
                    <li class="about-us"><i class="fa-solid fa-location-dot"></i>142 Tân Qúy</li>
                    <li class="about-us"><i class="fa-solid fa-phone"></i> +84 376328545</li>
                    <li class="about-us"><i class="fa-solid fa-envelope"></i> vothanhnamphuong20@gmail.com</li>
                </ul>
            </div>
            <div class="footer-container">
                <ul class="footer-desc">
                    <li class="about-us-name">contact</li>
                    <li class="about-us"><i class="fa-solid fa-location-dot"></i>142 Tân Qúy</li>
                    <li class="about-us"><i class="fa-solid fa-phone"></i> +84 376328545</li>
                    <li class="about-us"><i class="fa-solid fa-envelope"></i> vothanhnamphuong20@gmail.com</li>
                </ul>
            </div>

        </div>



    </footer>
</body>

</html>