<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clo thing - Best Apparels Online Store</title>


    <link rel="stylesheet" href="/public/css/search.css">
    <link rel="stylesheet" href="/public/fonts/fontawesome-free-6.2.1-web/fontawesome-free-6.2.1-web/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/public/image/logo.png">

</head>

<body>
    <!-- Thanh điều hướng  -->
    <nav class="navbar">
        <!-- Gán thanh điều hướng qua file nav.js -->
        <div class="nav">
            <a href="/"><img src="/public/image/logo.png" class="brand-logo" alt=""></a>
            <div class="nav-items">




                <div class="nav-icons">

                    <a href="user/cartdetail"><i class="fa-solid fa-cart-shopping"></i></a>
                    <% if(typeof user=='undefined' ) { %>
                        <a href="/login">Login</a>
                        <% }else{ %>

                            <%- (user.isAdmin ||user.isManager) ? "<a href='/admin/dashboard'>Dashboard</a>" :"" %>
                                <a href="">
                                    <%= user.username %>
                                </a>
                                <a href="/logout"> Logout</a>
                                <% } %>
                </div>
            </div>
        </div>
        <ul class="links-container">
            <li class="link-item "><a href="/" class="link ">home</a></li>
            <li class="link-item "><a href="/product" class="link  ">product<a></li>
            <li class="link-item"><a href="/blog" class="link">blog</a></li>
            <li class="link-item"><a href="/contact" class="link">contact</a></li>
        
        </ul>
    </nav>

    <a href="addproduct"></a>
    <a href="managerproduct"></a>
    <a href="managercategory"></a>
    <a href="product"></a>
    <a href="login"></a>
    <a href="register"></a>
    <a href="cart"></a>
    <a href="checkout"></a>



    <section class="product">
        <div class="product-container">

            <% if(typeof search !='undefined' ) { if(quantity==0){%>
                <%= search%>
                    <%}else{ search.map((pro,i)=>{%>

                        <div class="product-card">
                            <div class="product-image">
                                <img src="/<%= pro.image_url %>" class="product-thumb" alt="">
                                <a href="/product_details?id=<%= pro.id  %>" class="card-btn">view all</a>
                            </div>
                            <div class="product-info">
                                <h2 class="product-brand">
                                    <%= pro.name%>

                                </h2>

                                <p class="product-short-des">
                                    <%= pro.details%>
                                </p>
                                <span class="price">
                                    <%= pro.price%>
                                </span>
                            </div>
                        </div>
                        <%})}}%>
        </div>


    </section>

    <script src="/public/js/script.js"></script>

<footer>
    <div class="footer-logo">
        <img src="/public/image/logo.png" class="logo" alt="">
    </div>

    <div class="footer-content">
        <div class="footer-container">
            <ul class="footer-desc">
                <h3 class="about-us-name">About</h3>
                <li class="about-us"><i class="fa-solid fa-location-dot"></i>142 Tân Qúy</li>
                <li class="about-us"><i class="fa-solid fa-phone"></i>+84 376328545</li>
                <li class="about-us"><i class="fa-brands fa-facebook"></i><a
                        href="https://www.facebook.com/nams.phuongs.56/">facebook</a></li>
            </ul>
        </div>
        <div class="footer-container">
            <ul class="footer-desc">
                <h3 class="about-us-name">Hỗ trợ</h3>
                <li class="about-us"><a href="">Giới thiệu Butuni Shop</a></li>
                <li class="about-us"><a href="">Gửi yêu cầu hỗ trợ</a></li>

            </ul>
        </div>
        <div class="footer-container">
            <ul class="footer-desc">
                <h3 class="about-us-name">Chính sách</h3>
                <li class="about-us"><a href="">Chính sách thanh toán</a></li>
                <li class="about-us"><a href="">Chính sách bảo hành</a></li>

            </ul>
        </div>
        <div class="footer-container">
            <ul class="footer-desc">
                <h3 class="about-us-name">Hợp tác</h3>
                <li class="about-us"><a href="https://www.facebook.com/nams.phuongs.56/">Quy chế hoạt
                        động</a></li>
                <li class="about-us"><a href="">Liên hệ bán hàng</a></li>

            </ul>
        </div>


    </div>



</footer>
</body>

</html>